/* NUEVOS ESTILOS */
 /* .seccion-paginas {
  margin: auto 20px;
  display: flex;
  flex-wrap: wrap;
  
  width: 100vw;
 }
.box{
  
  margin: 10px;
  width: 33%;
}
.box .images{
 
  display: flex;
  height: 300px;
}
.box .images .img {
  width: 100%;
}
.box .images .img img{
  width: 100%;
} */
.seccion-paginas {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-between;
}

.items {
  width: 30%; /* Ajusta el ancho de los elementos según tu preferencia */
  margin-bottom: 20px;
}



.images {
  position: relative;
}
.img{
  width: 100%;
}
.img img {
  width: 100%;
  height: 310px; /* Establece la altura deseada */
  object-fit: cover; /* Ajusta la forma en que la imagen se ajusta al contenedor */
}



.text {
  padding: 15px;

}

.titulo {
  font-size: 20px;
  margin-bottom: 10px;
}

.desc {
  font-size: 16px;
  line-height: 1.5;
}

.fecha {
  margin-top: 10px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .items {
    width: 100%; /* Para ocupar todo el ancho en dispositivos pequeños */
  }
 
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .items {
    width: 48%; /* Ajusta según tus necesidades para tabletas, por ejemplo */
  }
}
